USE [dbSession1Daniel]
GO
/****** Object:  Table [dbo].[Cliente]    Script Date: 13/09/2020 12:38:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cliente](
	[CLICODIGO] [int] IDENTITY(1,1) NOT NULL,
	[CLINOME] [varchar](250) NOT NULL,
	[CLISOBRENOME] [varchar](250) NOT NULL,
	[CLICELULAR] [varchar](20) NULL,
	[CLIEMAIL] [varchar](350) NULL,
 CONSTRAINT [PK_Cliente] PRIMARY KEY CLUSTERED 
(
	[CLICODIGO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DisponibilidadeAcomodacao]    Script Date: 13/09/2020 12:38:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DisponibilidadeAcomodacao](
	[DISCOD] [int] IDENTITY(1,1) NOT NULL,
	[DISDATA] [date] NOT NULL,
	[DISQUANTIDADE] [int] NOT NULL,
	[TIPCODIGO] [int] NULL,
	[VALOR1] [numeric](18, 2) NULL,
	[VALOR2] [numeric](18, 2) NULL,
	[VALOR3] [numeric](18, 2) NULL,
	[VALOR4] [numeric](18, 2) NULL,
	[VALOR5] [numeric](18, 2) NULL,
	[MINIMO] [int] NULL,
 CONSTRAINT [PK_DisponibilidadeAcomodacao_1] PRIMARY KEY CLUSTERED 
(
	[DISCOD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Hotel]    Script Date: 13/09/2020 12:38:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hotel](
	[HOTCODIGO] [int] IDENTITY(1,1) NOT NULL,
	[HOTNOME] [varchar](50) NOT NULL,
	[HOTENDERECO] [varchar](100) NOT NULL,
	[HOTFOTO] [varchar](100) NOT NULL,
	[CAFEINCLUSO] [bit] NOT NULL,
	[WIFI] [bit] NOT NULL,
	[ESTACIONAMENTO] [bit] NOT NULL,
 CONSTRAINT [PK_Hotel] PRIMARY KEY CLUSTERED 
(
	[HOTCODIGO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reserva]    Script Date: 13/09/2020 12:38:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reserva](
	[RESCODIGO] [int] IDENTITY(1,1) NOT NULL,
	[CLICODIGO] [int] NULL,
	[TIPCODIGO] [int] NOT NULL,
	[RESDATAINICIO] [date] NOT NULL,
	[RESDATAFIM] [date] NOT NULL,
	[RESQUANTIDADEADULTOS] [int] NULL,
	[RESVALORRESERVA] [numeric](18, 2) NULL,
 CONSTRAINT [FK_Composta_TipoAcomodacao_Compra] PRIMARY KEY CLUSTERED 
(
	[RESCODIGO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TIPOACOMODACAO]    Script Date: 13/09/2020 12:38:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TIPOACOMODACAO](
	[TIPCODIGO] [int] IDENTITY(1,1) NOT NULL,
	[TIPNOME] [varchar](100) NOT NULL,
	[HOTCODIGO] [int] NULL,
	[TIPDESCRICAO] [varchar](max) NULL,
	[TIPMAXADULTOS] [int] NULL,
	[TIPMAXCRIANCAS] [int] NULL,
	[TIPVALORMINIMO] [numeric](18, 2) NULL,
 CONSTRAINT [PK_TIPOACOMODACAO] PRIMARY KEY CLUSTERED 
(
	[TIPCODIGO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[Hotel] ADD  CONSTRAINT [DF_Hotel_CAFEINCLUSO]  DEFAULT ((1)) FOR [CAFEINCLUSO]
GO
ALTER TABLE [dbo].[Hotel] ADD  CONSTRAINT [DF_Hotel_WIFI]  DEFAULT ((1)) FOR [WIFI]
GO
ALTER TABLE [dbo].[Hotel] ADD  CONSTRAINT [DF_Hotel_ESTACIONAMENTO]  DEFAULT ((1)) FOR [ESTACIONAMENTO]
GO
ALTER TABLE [dbo].[DisponibilidadeAcomodacao]  WITH CHECK ADD  CONSTRAINT [FK_DisponibilidadeAcomodacao_TIPOACOMODACAO] FOREIGN KEY([TIPCODIGO])
REFERENCES [dbo].[TIPOACOMODACAO] ([TIPCODIGO])
GO
ALTER TABLE [dbo].[DisponibilidadeAcomodacao] CHECK CONSTRAINT [FK_DisponibilidadeAcomodacao_TIPOACOMODACAO]
GO
ALTER TABLE [dbo].[Reserva]  WITH CHECK ADD  CONSTRAINT [FK_Reserva_Cliente] FOREIGN KEY([CLICODIGO])
REFERENCES [dbo].[Cliente] ([CLICODIGO])
GO
ALTER TABLE [dbo].[Reserva] CHECK CONSTRAINT [FK_Reserva_Cliente]
GO
ALTER TABLE [dbo].[Reserva]  WITH CHECK ADD  CONSTRAINT [FK_Reserva_TIPOACOMODACAO] FOREIGN KEY([TIPCODIGO])
REFERENCES [dbo].[TIPOACOMODACAO] ([TIPCODIGO])
GO
ALTER TABLE [dbo].[Reserva] CHECK CONSTRAINT [FK_Reserva_TIPOACOMODACAO]
GO
ALTER TABLE [dbo].[TIPOACOMODACAO]  WITH CHECK ADD  CONSTRAINT [FK_TIPOACOMODACAO_Hotel] FOREIGN KEY([HOTCODIGO])
REFERENCES [dbo].[Hotel] ([HOTCODIGO])
GO
ALTER TABLE [dbo].[TIPOACOMODACAO] CHECK CONSTRAINT [FK_TIPOACOMODACAO_Hotel]
GO
